playbooks/msdefender/Get-MDEAVData.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Get-MDETVMData",
            "type":  "string"
        }
    },
    "variables":  {
        "Wdatp-1ConnectionName":  "[concat('Wdatp-1-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Recurrence":  {
                            "recurrence":  {
                                "interval":  1,
                                "frequency":  "Day",
                                "timeZone":  "GMT Standard Time"
                            },
                            "evaluatedRecurrence":  {
                                "interval":  1,
                                "frequency":  "Day",
                                "timeZone":  "GMT Standard Time"
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "Advanced_Hunting_-_TVM_Data":  {
                            "runAfter":  {
                                "Initialize_variable_-_DCR_Streams":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['wdatp-1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "body":  {
                                    "Query":  "// This query will identify the Microsoft Defender Antivirus Engine version and Microsoft Defender Antivirus Security Intelligence version (and timestamp), Product update version (aka Platform Update version) as well as the Microsoft Defender Antivirus Mode on the endpoint (Active, Passive, etc.).\n// This query was updated from https://github.com/Azure/Azure-Sentinel/tree/master/Hunting%20Queries/Microsoft%20365%20Defender/General%20queries/MD%20AV%20Signature%20and%20Platform%20Version.yaml\nlet avmodetable = DeviceTvmSecureConfigurationAssessment\n| where Timestamp \u003c ago(1d)\n| where ConfigurationId == \"scid-2010\" and isnotnull(Context)\n| extend avdata=parsejson(Context)\n| extend AVMode = iif(tostring(avdata[0][0]) == '0', 'Active' , iif(tostring(avdata[0][0]) == '1', 'Passive' ,iif(tostring(avdata[0][0]) == '4', 'EDR Blocked' ,'Unknown')))\n| project DeviceId, AVMode;\nDeviceTvmSecureConfigurationAssessment\n| where ConfigurationId == \"scid-2011\" and isnotnull(Context)\n| extend avdata=parsejson(Context)\n| extend AVSigVersion = tostring(avdata[0][0])\n| extend AVEngineVersion = tostring(avdata[0][1])\n| extend AVSigLastUpdateTime = tostring(avdata[0][2])\n| extend AVProductVersion = tostring(avdata[0][3]) \n| project DeviceId, DeviceName, OSPlatform, AVSigVersion, AVEngineVersion, AVSigLastUpdateTime, AVProductVersion, IsCompliant, IsApplicable\n| join avmodetable on DeviceId\n| project-away DeviceId1"
                                },
                                "path":  "/api/advancedqueries/run"
                            }
                        },
                        "For_each_-_TVM_Data":  {
                            "foreach":  "@body('Advanced_Hunting_-_TVM_Data')?['Results']",
                            "actions":  {
                                "Compose_-_TVM_Data":  {
                                    "type":  "Compose",
                                    "inputs":  [
                                        "@items('For_each_-_TVM_Data')"
                                    ]
                                },
                                "HTTP_-_Post_to_DeviceTvmSecureConfigurationAssessment_CL":  {
                                    "runAfter":  {
                                        "Compose_-_TVM_Data":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "uri":  "@{variables('DCE-Url')}/dataCollectionRules/@{variables('DCR-ID')}/streams/@{variables('DCR-Stream')}?api-version=2023-01-01",
                                        "method":  "POST",
                                        "headers":  {
                                            "Content-Type":  "application/json"
                                        },
                                        "body":  "@outputs('Compose_-_TVM_Data')",
                                        "authentication":  {
                                            "type":  "ActiveDirectoryOAuth",
                                            "authority":  "",
                                            "tenant":  "4a225343-9650-4e89-8480-8a81e91569e9",
                                            "audience":  "https://monitor.azure.com",
                                            "clientId":  "*****",
                                            "secret":  "*****"
                                        }
                                    },
                                    "runtimeConfiguration":  {
                                        "contentTransfer":  {
                                            "transferMode":  "Chunked"
                                        }
                                    }
                                }
                            },
                            "runAfter":  {
                                "Advanced_Hunting_-_TVM_Data":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Foreach"
                        },
                        "Initialize_variable_-_DCE_URL":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "DCE-Url",
                                        "type":  "string",
                                        "value":  "https://defenderxdr-dce-gzcz.westeurope-1.ingest.monitor.azure.com"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_DCR_ID":  {
                            "runAfter":  {
                                "Initialize_variable_-_DCE_URL":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "DCR-ID",
                                        "type":  "string",
                                        "value":  "dcr-b8966137d01c4a3fa20ef1128409da6f"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_DCR_Streams":  {
                            "runAfter":  {
                                "Initialize_variable_-_DCR_ID":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "DCR-Stream",
                                        "type":  "string",
                                        "value":  "Custom-DeviceTvmSecureConfigurationAssessment_CL"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "wdatp-1":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Wdatp-1ConnectionName'))]",
                                "connectionName":  "[variables('Wdatp-1ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp-1')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "Get-MDETVMData",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('Wdatp-1ConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Wdatp-1ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Wdatp-1ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp-1')]"
                }
            }
        }
    ]
}
